<!DOCTYPE html>
<html lang="en">
<head>
    <title>网络媒体设计</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/linearicons/style.css">

    <link rel="stylesheet" href="../../static/css/mystyle.css">
    <script src="../../static/scripts/jquery.min.js"></script>
    <script src="../../static/scripts/bootstrap.min.js"></script>
    <script src="../../static/scripts/srp.js"></script>
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script>
        function loadXMLDoc(dname)
        {
            if (window.XMLHttpRequest)
            {
                xhttp=new XMLHttpRequest();
            }
            else
            {
                xhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xhttp.open("GET",dname,false);
            xhttp.send();
            return xhttp.responseXML;
        }
        mm = 1
        function dfs(root_node,argStr)
        {
            //mm +=1
            //if(mm>20)return
            console.log(root_node.nodeName)
            var x=root_node.childNodes;
            //    document.write('<li is_clicked="off">')
            //    <!--document.write('<a href="test.html">')-->
            // document.write('<a href="{% url 'srp:process' %}?argStr=')
            // document.write(argStr)
            // document.write('">')
            //    document.write(root_node.getAttribute("displayName"))
            //    document.write(argStr)
            //    document.write('</a>')

            var is_leaf=1
            for (var i=0;i<x.length;i++)
            {
                if (x[i].nodeType==1)
                {
                    is_leaf = 0;break;
                }
            }
            if(!is_leaf){
                document.write('<li><a href="#')
                document.write(root_node.getAttribute("displayName"))
                document.write('" data-toggle="collapse" class="collapsed"><i class="lnr lnr-menu"></i><span>')
                document.write(root_node.getAttribute("displayName"))
                document.write(argStr)
                document.write('</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>')
                document.write('<div id="')
                document.write(root_node.getAttribute("displayName"))
                document.write('" class="collapse "><ul class="nav" style="padding-left: 15px;">')
            }else{
                document.write('<li><a href="{% url 'srp:process' %}?argStr=')
                document.write(argStr)
                document.write('"><i class="lnr lnr-tag" style="font-size: 15px;"></i>')
                document.write(root_node.getAttribute("displayName"))
                document.write(argStr)
                document.write('</a></li>')
            }
            //document.write('<ul>')
            console.log("+++++++    "+x.length)
            console.log(root_node.getAttribute("displayName")+"!!!!!    "+is_leaf)

            //console.log("+++++++")

            var cnt=0
            for (var i=0;i<x.length;i++)
            {
                if (x[i].nodeType==1)
                {//Process only element nodes (type 1)
                    //console.log(x[i].nodeName)

                    //if(cnt==0){
                    //    document.write('<ul class="nav">')
                    //}
                    cnt=cnt+1
                    console.log("$$$$$$$$$$$$")
                    dfs(x[i],argStr+"|"+(cnt-1))
                    // document.write(x[i].nodeName);
                    // document.write("<br />");
                }
            }
            if(cnt>0)document.write('</ul></div></li>')

            console.log("--------      "+cnt)
        }

    </script>
</head>
<body>
<!--NAVBAR-->
<nav class="navbar navbar-default navbar-fixed-top affix-top" data-spy="affix" data-offset-top="50">
    <!--<div class="brand">-->
    <!--<a href="index.html"><i class="fa fa-home"></i>网络媒体设计</a>-->
    <!--</div>-->
    <div class="container-fluid no-padding navbar-container">
        <!--<div class="navbar-btn visible-sm visible-xs">-->
        <!--<button type="button"><a href="javascript:history.go(-1);"><i class="fa fa-arrow-left"></i></a></button>-->
        <!--</div>-->
        <div class="navbar-btn">
            <button id="navbar-btn"  class="btn"><i class="lnr lnr-menu"></i></button>
        </div>
        <form role="form" method="GET" action="{% url 'srp:search' %}" class="navbar-form">
            <div class="input-group">
                <!--<label for="keyword" class="control-label sr-only">关键词</label>-->
                <input type="text" class="form-control search-input" id="keyword" value="" placeholder="搜索" name="keyword">
                <span class="input-group-btn"><button id="search-btn" type="submit" class="btn"><i class="fa fa-search"></i></button></span>
            </div>
        </form>
    </div>
</nav>
<!--LEFT SIDEBAR-->
<div id="sidebar-nav" class="sidebar" >
    <div class="sidebar-scroll">
        <nav>
            <ul  class="nav" id="menu">
                <!--新增首页 课程简介-->
                <li>
                    <a href="{% url 'srp:index' %}"><i class="lnr lnr-home"></i>首页</a>
                </li>
                <li>
                    <a href="#课程简介" data-toggle="collapse" class="collapsed"><i class="lnr lnr-book"></i><span>课程简介</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="课程简介" class="collapse">
                        <ul class="nav" style="padding-left: 15px;">
                            <li><a href="i1.html"><i class="lnr lnr-tag"></i>课程简介</a></li>
                            <li><a href="i2.html"><i class="lnr lnr-tag"></i>教学大纲</a></li>
                            <li><a href="i3.html"><i class="lnr lnr-tag"></i>教学日历</a></li>
                            <li><a href="i4.html"><i class="lnr lnr-tag"></i>课程特色</a></li>
                            <li><a href="i5.html"><i class="lnr lnr-tag"></i>学习者分析</a></li>
                            <li>
                                <a href="#教材参考" data-toggle="collapse" class="collapsed"><i class="lnr lnr-tag"></i>教材参考<i class="icon-submenu lnr lnr-chevron-left"></i></a>
                                <div id="教材参考" class="collapse">
                                    <ul class="nav" style="padding-left: 15px;">
                                        <li><a href="i6_1.html"><i class="lnr lnr-tag"></i>学术理论类</a></li>
                                        <li><a href="i6_2.html"><i class="lnr lnr-tag"></i>案例应用类</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <script>

                    xmlDoc=loadXMLDoc("/static/menu.xml");

                    //x=xmlDoc.documentElement.childNodes[0];
                    var x=xmlDoc.getElementsByTagName("menuNodes")[0].childNodes;
                    var cnt =0
                    for(var i=0;i<x.length;i++){
                        if (x[i].nodeType==1){
                            cnt+=1
                            if(x[i].getAttribute("displayName")=="课程资源")
                                dfs(x[i],(cnt-1)+"")
                        }
                    }


                    //dfs(x)

                </script>
                <!--<li>-->
                <!--<a href="#">asdfs</a>-->
                <!--</li>-->
            </ul>
        </nav>
    </div>
</div>

<div class="main">
    <div class="header-content ui-header-content">
        <div class="container">
            <div class="row">
                <h1 class="content-heading">课程简介</h1>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="container-fluid" >
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading"></p>
                            <p>课程名称：网络媒体设计</p>
                            <p>英文名称：Network Media Design</p>
                            <p>课程代码：171384</p>
                            <p>学   时：32 </p>
                            <p>学   分：2</p>
                            <p>课程类别：专业领域课</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading">内容简介</p>
                            <p class="paragraph">
                                本课程是一门新媒体方向的专业课程，在传播学、多媒体设计基础上，从设计的角度，结合网络媒体、媒介融合、媒体营销等方面内容，培养学生对网络媒体领域的认知、分析、活用能力。主要内容包括：视觉传达与设计、网络媒体与传播学、网络媒体形态与规范、网络媒体艺术与文化、网络媒体商业与运营、网络媒体经营案例研究等。本课程要求学生至少完成1～2个设计作业，完成1～2个专题研究学习。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading">排课情况</p>
                            <p>2005-2006 第二学期,全校公共选修(课程名：多媒体技术与设计，2007年改为网络媒体设计)</p>
                            <p>2006-2007 第一学期,北校区计算机专业辅修班，专业选修课</p>
                            <p>2006-2007 第二学期,北校区计算机专业辅修班，专业选修课</p>
                            <p>2007-2008 第一学期,专业必修,编辑出版学2004级甲班,2004级乙班,A2102(单周),上机(双周).</p>
                            <p>2008-2009 第一学期,专业必修,编辑出版学2007级甲班,A1401(单周),上机B7-338B(双周).</p>
                            <p>2007-2008 第二学期 07春传播学（新媒体文化方向），320501</p>
                            <p>2009-2010 第一学期 09春传播学（新媒体文化方向），320501</p>
                            <p>2011-2012 第二学期 10编辑出版10广告学，A1-502</p>
                            <p>2012-2013 第二学期 11编辑出版11广告学11传播学，A1-108</p>
                            <p>2013-2014 第二学期 12编辑出版、广告学、传播学，A1-502</p>
                            <p>2014-2015 第二学期 13编辑出版、广告学、传播学，A1-503</p>
                            <p>2015-2016 第一学期 14传播学，A1-503</p>
                            <p>2015-2016 第二学期 15传播学，A3-201S</p>
                            <p>2016-2017 第一学期 15传播学（网络新媒体），A1-403</p>
                            <p>2016-2017 第二学期 16传播学，A2-403</p>
                            <p>2017-2018 第一学期 16传播学（网络新媒体），A1-404</p>
                            <p>2017-2018 第二学期 17传播学，A1-404</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<footer>
    <div class="container-fluid">
        <p class="copyright">华南理工大学 教育技术中心 版权所有</p>
    </div>
</footer>
<div id="mask" class="mask"></div>
<script src="../../static/scripts/jquery.slimscroll.min.js"></script>
<script src="../../static/scripts/klorofil-common.js"></script>
</body>
</html>