<!DOCTYPE html>
<html>
<head>
    <title>网络媒体设计</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style type="text/css">
    .menu-li-style{border:1px solid #B40607;}//第一层设置属性方便区分
    #menu li ul{border:1px solid #707F8C; display: none;}//第一层以后的设置属性
    </style>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/linearicons/style.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <!--<link rel="stylesheet" href="../static/css/mystyle.css">-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script>
function loadXMLDoc(dname)
{
    if (window.XMLHttpRequest)
    {
        xhttp=new XMLHttpRequest();
    }
    else
    {
        xhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xhttp.open("GET",dname,false);
    xhttp.send();
    return xhttp.responseXML;
}
mm = 1
function dfs(root_node,argStr)
{
    //mm +=1
    //if(mm>20)return
    console.log(root_node.nodeName)
    var x=root_node.childNodes;
 //    document.write('<li is_clicked="off">')
 //    <!--document.write('<a href="test.html">')-->
    // document.write('<a href="{% url 'srp:process' %}?argStr=')
    // document.write(argStr)
    // document.write('">')
 //    document.write(root_node.getAttribute("displayName"))
 //    document.write(argStr)
 //    document.write('</a>')

    var is_leaf=1
    for (var i=0;i<x.length;i++)
    { 
      if (x[i].nodeType==1)
      {
        is_leaf = 0;break;
      } 
    }
    if(!is_leaf){
        document.write('<li><a href="#')
        document.write(root_node.getAttribute("displayName"))
        document.write('" data-toggle="collapse" class="collapsed"><i class="lnr lnr-menu"></i><span>')
        document.write(root_node.getAttribute("displayName"))
        document.write(argStr)
        document.write('</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>')
        document.write('<div id="')
        document.write(root_node.getAttribute("displayName"))
        document.write('" class="collapse "><ul class="nav" style="padding-left: 15px;">')
    }else{
        document.write('<li><a href="{% url 'srp:process' %}?argStr=')
        document.write(argStr)
        document.write('"><i class="lnr lnr-tag" style="font-size: 15px;"></i>')
        document.write(root_node.getAttribute("displayName"))
        document.write(argStr)
        document.write('</a></li>')
    }
    //document.write('<ul>')
console.log("+++++++    "+x.length)
console.log(root_node.getAttribute("displayName")+"!!!!!    "+is_leaf)

    //console.log("+++++++")

    var cnt=0
    for (var i=0;i<x.length;i++)
    { 
      if (x[i].nodeType==1)
      {//Process only element nodes (type 1) 
        //console.log(x[i].nodeName)
        
        //if(cnt==0){
        //    document.write('<ul class="nav">')
        //}
        cnt=cnt+1
        console.log("$$$$$$$$$$$$")
        dfs(x[i],argStr+"|"+(cnt-1))
      // document.write(x[i].nodeName);
      // document.write("<br />");
      } 
    }
    if(cnt>0)document.write('</ul></div></li>')
    
    console.log("--------      "+cnt)
}


</script>

<!-- <script type="text/javascript">
    $(document).ready(function(){

		   $ ('#menu li').click (function ()
		   {
			   if ($ (this).attr ("is_clicked") == "on")
			   {
					$('ul',this).slideUp(1000);
				   $ (this).attr ('is_clicked', 'off');
				   console.log("tobeoff"+$(this).text())
			   }
			   else if ($ (this).attr ("is_clicked") == "off")
			   {
					$(this).children('ul').slideDown(1000).show(1000);
				   $ (this).attr ('is_clicked', 'on');
				   console.log("tobeon"+$(this).text())
			   }
			   event.stopPropagation();//阻止事件冒泡即可
		   });
		
    });
</script> -->

</head>
<body>
<div id="wrapper">
<!--NAVBAR-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand" style="display: block;font-size: 25px">
            <a href="index.html"><i class="fa fa-home"></i>网络媒体设计</a>
        </div>
        <div class="container-fluid">
        <div class="navbar-btn">
            <!--<input type="checkbox" id="toggle-checkbox">-->
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
        </div>
        </div>
    </nav>
    <!--LEFT SIDEBAR-->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul  class="nav" id="menu">
                    <li>
                        <a href="{% url 'srp:search' %}"><i class="lnr lnr-magnifier"></i>搜索</a>
                    </li>
                    <script>

                        xmlDoc=loadXMLDoc("/static/menu.xml");

                        //x=xmlDoc.documentElement.childNodes[0];
                        var x=xmlDoc.getElementsByTagName("menuNodes")[0].childNodes;
                        var cnt =0
                        for(var i=0;i<x.length;i++){
                            if (x[i].nodeType==1){
                                cnt+=1
                                if(x[i].getAttribute("displayName")=="课程资源")
                                    dfs(x[i],(cnt-1)+"")
                            }
                        }


                        //dfs(x)

                    </script>
                    <!--<li>-->
                        <!--<a href="#">asdfs</a>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
    </div>

    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <table class="table">
                  {% for res in L %}
                          <tr>
                          <td>{{res.0}}</a></td>
                          <td style="text-align:right">{{res.1}}</td>
                          <td >{{res.2}}</td>
                          </tr>
                  {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">华南理工大学 教育技术中心 版权所有</p>
        </div>
    </footer>
</div>
<script src="../static/scripts/jquery.min.js"></script>
<script src="../static/scripts/bootstrap.min.js"></script>
<script src="../static/scripts/jquery.slimscroll.min.js"></script>
<script src="../static/scripts/klorofil-common.js"></script>
</body>
</html>